<!-- @format -->

update user info.

<!-- @format -->

Settings for each borrower to update

<div class="mt-4">
  <div class="row">
    <div class="col-md-12">
      <div>
        <p>Google Connection</p>
        <button>Connect to Google</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <p>Update Username</p>
        <p>Update First Name</p>
        <p>Update Last Name</p>
        <p>Update Profile photo</p>
        <p readonly>NMLS</p>
      </div>
    </div>
  </div>
</div>
