<!-- @format -->

<form action="/newComment/:id" method="POST">
  <div class="mb-3">
    <div>
      <textarea
        id="commentSection"
        name="commentSection"
        rows="10"
        cols="20"
        readonly
      ></textarea>
    </div>
    <div>
      <label for="comment" class="form-label">Comment Section:</label>
      <input
        type="text"
        name="comment"
        id="comment"
        class="form-control"
        placeholder="Enter Comment"
      />

      <button type="button" id="addCommentButton" class="btn btn-primary">
        Send
      </button>
    </div>
  </div>
</form>

<!-- comments.ejs lead_id 

<h1>Comments for Homebuyer Lead: <%=  %></h1>

<ul>
  <% //comments.forEach(function(comment) { %>
    <li>
      <p><strong><%= //comment.username %></strong> said on <%= //comment.date %>:</p>
      <p><%= //comment.comment %></p>
    </li>
  <% //}); %>
</ul>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#addCommentButton").on("click", function () {
      var commentText = $("#comment").val();
      if (commentText.trim() !== "") {
        var currentComments = $("#commentSection").val();
        var newComment =
          new Date().toLocaleString() + ": " + commentText + "\n";
        $("#commentSection").val(newComment + currentComments);
        $("#comment").val(""); // Clear the input field
      }
    });
  });
</script>
