<!-- @format -->

<!-- @format  <form action="/newComment/:id" method="POST">
-->

<div class="mt-4">
  <div class="row">
    <div class="col-md-12">
      <div
        id="commentSection"
        contenteditable="false"
        class="word-wrap"
        style="border: 1px solid #ccc; padding: 5px; min-height: 100px"
      ></div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <input
        type="text"
        id="comment"
        class="form-control commentHeight"
        placeholder="Enter your comment"
      />
    </div>
    <div class="col-md-4">
      <button id="addCommentButton" class="btn btn-sm btn-primary">Add</button>
    </div>
  </div>
</div>

<!-- comments.ejs lead_id 

<h1>Comments for Homebuyer Lead: <%=  %></h1>

<ul>
  <% //comments.forEach(function(comment) { %>
    <li>
      <p><strong><%= //comment.username %></strong> said on <%= //comment.date %>:</p>
      <p><%= //comment.comment %></p>
    </li>
  <% //}); %>
</ul>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#addCommentButton").on("click", function () {
      var commentText = $("#comment").val();
      if (commentText.trim() !== "") {
        var currentComments = $("#commentSection").html();
        var options = { hour: "numeric", minute: "numeric", hour12: true };
        var formattedDate = new Date().toLocaleTimeString("en-US", options);
        var newComment =
          '<span class="blue-text">' +
          formattedDate +
          "</span>: " +
          commentText +
          "<br>";
        $("#commentSection").html(currentComments + newComment);
        $("#comment").val(""); // Clear the input field
      }
    });
  });
</script>

<style>
  .blue-text {
    color: blue;
  }
  .commentHeight {
    height: 50px; /* Adjust the height value as needed */
  }
  .word-wrap {
    word-wrap: break-word;
  }
</style>
