<form action="/comment/:id" method="POST">

<div class="mb-3">
  <div>
  <textarea id="commentSection" name="commentSectino" rows="40" cols="40">
    <p>testing</p>  

  </textarea>
</div>
<div>
    <label for="formGroupExampleInput" class="form-label">Text Box</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>

  <div>
  <button type="submit" class="btn btn-primary">Send</button>
</div>

</form>

