<!-- @format -->

<form>
  <div class="row mb-3">
    <label for="occupancyMainFile" class="col-sm-2 col-form-label"
      >Occupancy</label
    >
    <div class="col-sm-10">
      <input type="text" class="form-control" id="occupancyMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="mortgageMainFile" class="col-sm-2 col-form-label"
      >Mortgage Holder</label
    >
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mortgageMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="originaAmtlMainFile" class="col-sm-2 col-form-label"
      >Original Amount</label
    >
    <div class="col-sm-10">
      <input type="number" class="form-control" id="originaAmtlMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="loanAmtMainFile" class="col-sm-2 col-form-label"
      >Loan Amount</label
    >
    <div class="col-sm-10">
      <input type="number" class="form-control" id="loanAmtMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="dateOpenedMainFile" class="col-sm-2 col-form-label"
      >Date Opened</label
    >
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dateOpenedMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="rateMainFile" class="col-sm-2 col-form-label">Rate</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="rateMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="termMainFile" class="col-sm-2 col-form-label">Term</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="termMainFile" />
    </div>
  </div>
</form>

<div class="row mb-3">
  <label for="mtgPmtMainFile" class="col-sm-2 col-form-label"
    >Mortgage payment</label
  >
  <div class="col-sm-10">
    <input type="number" class="form-control" id="mtgPmtMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propTaxMainFile" class="col-sm-2 col-form-label">Taxes</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" id="propTaxMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propInsMainFile" class="col-sm-2 col-form-label">Insurance</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" id="propInsMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propHOAMainFile" class="col-sm-2 col-form-label">HOA</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" id="propHOAMainFile" />
  </div>
</div>
