<!-- WHEN CLICKED HAVE THE SETTINGS AND LOGOUT SCREEN OPEN
 have the photo dynamically rendered, default, then a photo if selected
SWITCH BETWEEN SOLAR AND MORTGAGE
SETTINGS
LOGOUT -->

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="#" class="profile">
            <img src="images/DR-Logo.jpg">
        </a>Img
    </button>
    <div class="dropdown-menu side-menu" aria-labelledby="dropdownMenuButton">
        <div>
            <input type="checkbox" id="mortgageSolar-toggle" hidden>
            <label for="mortgageSolar-toggle" class="mortgageSolar-toggle"></label>
        </div>
      <a href="#"><i class='bx bx-cog'></i>Settings</a>
      <a href="#" class="logout"> <i class='bx bx-log-out-circle'></i>Logout</a>
    </div>
  </div>





