<!-- @format -->

insert analytics here. This will be personal analytics to help with conversion.
Also have a section for where the referral sources are coming from

<!-- Insights -->
<div>
  <ul class="insights">
    <li>
      <i class="bx bx-calendar-check"></i>
      <span class="info">
        <h3>13</h3>
        <p>Loans in Process</p>
      </span>
    </li>
    <li>
      <i class="bx bx-dollar-circle"></i>
      <span class="info">
        <h3>6</h3>
        <p>New Loans (MTD)</p>
      </span>
    </li>
    <li>
      <i class="bx bx-show-alt"></i>
      <span class="info">
        <h3>3</h3>
        <p>Pending Lock</p>
      </span>
    </li>
    <li>
      <i class="bx bx-line-chart"></i>
      <span class="info">
        <h3>14</h3>
        <p>CTC</p>
      </span>
    </li>
  </ul>
</div>
