Insert all links to guides and Selling guides here



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1> Guides</h1>
    
</div>
<div class="container ">
    <div class="card col-md-8 ">
        <h3>CNV</h3>
        <p><a href="https://selling-guide.fanniemae.com/Selling-Guide/Origination-thru-Closing/">Fannie Mae Selling Guide</p></a>
        <p><a href="https://guide.freddiemac.com/app/guide/segment/Selling">Freddie Mac Selling Guide</p></a>
    </div>

    <div class="card col-md-8 ">
     <h3>VA</h3>
        <p><a href="https://www.benefits.va.gov/warms/pam26_7.asp">VA Selling Guide</p></a>
        <p><a href="https://anytimeestimate.com/va-mortgage/va-residual-income-calculator/">Residual Income Calculator (OLD)</p></a>
    </div>

    <div class="card col-md-8 ">
        <h3>FHA</h3>
           <p><a href="https://www.hud.gov/sites/dfiles/OCHCO/documents/4000.1hsgh-080923.pdf">FHA Selling Guide (PDF)</p></a>
       </div>
   
       <div class="card col-md-8 ">
        <h3>Non QM</h3>
           <p><a href="">Insert Random non QM guides, BS, DSCR, etc</p></a>
       </div>

       <div class="card col-md-8 ">
        <h3>Calculators</h3>
           <p><a href="https://www.drcalculator.com">Dr. Calculator</p></a>
       </div>


</div>



<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Document Name</th>
          <th>Download Document</th>
        </tr>
      </thead>

      <tbody>
        <tr><td>Name</td><td><a href="">Link</td></a></tr>
        <tr><td>Name</td><td><a href="">Link</td></a></tr>
        <tr><td>Name</td><td><a href="">Link</td></a></tr>

      </tbody>
  </table>











