<!-- @format -->

This will be the location of Market data 10 year, WSJ Prime, SOFR Links to
market commentary and rate outlook

<h2>
  This will be where I have blogposts with market rate updates and otlooks
</h2>
