
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="/" class="logo">
      <div class="logo-name"><span>Name</span>TBD</div>
    </a>
    <ul class="side-menu">
      <li>
        <a  href="/"><i class="bx bxs-dashboard"></i>Dashboard</a>
      </li>

      <li>
        <a href="/analytics"><i class="bx bx-bar-chart"></i>Analytics</a>
      </li>
      <li>
        <a href="/guides"><i class="bx bx-walk"></i>Guides</a>
      </li>
   
      <li>
        <a href="/partners"><i class="bx bx-group"></i>Partners</a>
      </li>
    </ul>
  </div>
  <!-- End of Sidebar
        <li>
        <a href="/messages"
          ><i class="bx bx-message-square-dots"></i>Messages</a
        >
      </li>
     <li>
        <a href="/marketData"><i class="bx bx-store-alt"></i>Market Data</a>
      </li>
  -->

  <!-- Main Content -->
  <div class="content">
    <nav
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4"
    >
      <i class="bx bx-menu"></i>

      <form
        class="nav col-8 col-md-auto flex-fill mb-2 justify-content-center mb-md-0"
        role="search"
        method="POST"
        action="/dashboard/search"
      >
        <input
          type="search"
          name="searchTerm"
          class="form-control border-primary"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <div>
        <ul class="nav nav-pills mx-1" id="pills-tab" role="tablist">
          <li class="px-3 nav-item" role="presentation">
            <a class="nav-link" id="pills-home-tab" href="/" role="tab" aria-controls="pills-home" aria-selected="true">Mortgage</a>
          </li>
          <li class="nav-item" role="prpillsesentation">
            <a class="nav-link" id="-profile-tab" href="/solar" role="tab" aria-controls="pills-profile" aria-selected="false">Solar</a>
          </li>
        </ul>
      </div>

      <div class="btn-group">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-primary "
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <a href="#" class="profile">
              <!-- Use a container for the circular profile photo and icon -->
              <div class="profile-container">
                <!-- Circular profile photo -->
                <div class="profile-photo">
                  <!-- Dynamically generate the initials using the first letters of the first and last name -->
                  <span class="initials"><%= user.firstName ? user.firstName.charAt(0) : '' %><%= user.lastName ? user.lastName.charAt(0) : '' %></span>

                </div>
                <!-- Toggle-down icon -->
                <i class="bx bx-chevron-down"></i>
              </div>
            </a>
          </button>
      
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/settings"><i class="bx bx-cog"></i>Settings</a>
            </li>
            <li>
              <a href="/logout" class="dropdown-item logout"><i class="bx bx-log-out-circle"></i>Logout</a>
            </li>
          </ul>
        </div>
      
      

    </nav>

    <!-- End of Navbar -->


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the current path without the leading '/'
        const currentPath = window.location.pathname.substring(1);
    
        // Retrieve the selected tab from localStorage
        const selectedTab = localStorage.getItem('selectedTab');
    
        // Find the corresponding tab and set it as active
        const tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(tab => {
          const tabPath = tab.getAttribute('href').substring(1);
          if (currentPath === tabPath || selectedTab === tabPath) {
            // Add 'active' class if it's the current or selected tab
            tab.classList.add('active');
          } else {
            // Remove 'active' class if it's not the current or selected tab
            tab.classList.remove('active');
          }
        });
    
        // Store the selected tab in localStorage when a tab is clicked
        document.querySelectorAll('.nav-link').forEach(tab => {
          tab.addEventListener('click', () => {
            const selectedTabPath = tab.getAttribute('href').substring(1);
            localStorage.setItem('selectedTab', selectedTabPath);
          });
        });
      });
    </script>
    