<!-- @format -->

<h3>To Do items and dates of potential completion</h3>

<ol>
  <li>Income</li>
  <li>Workbook</li>
  <li>Partners</li>
  <li>Search Bar</li>

  <li>
    Sales Dashboards Sorting based off Status, removed Status (OFF, NOS, FUN)
  </li>
  <li>Solar</li>
  <li>Responsive Analystics</li>
  <li>LO, Processor, Referral</li>
  <li>Google Doc Integration</li>
  <li>Additional Properties fields</li>
  <li>Updated Security</li>
  <li>Admin Dashboard</li>
  <li>Additional Guides</li>
  <li>GHL Integration?</li>
</ol>
