
   <!--  instead of the edit page, this will be the same but is assiming the entity has already beed created
    this is when the "enter" butt n is clicked FOR THE INDIVIDUAL ID REQUESTED %>-->

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Blog</title>
    </head>
        
    <body>
      <div class="container">
        <h1 class="mb-4">Current borrower</h1>
        <p>This is a work in progress, will be the main home section</p>
    
        <form action="/borrowersMtg/<%= borrowerMtg.id %>?_method=PUT" method="POST">
            <%- include('_borrowerMain_form') %>
        </form>
      </div>

    
    </body>

    </html>