<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
    <div class="container">
      <h1 class="mb-4">Workbook</h1>
  


        <div class="col-4">
          <label for="baseLoanAmount" class="form-label">Base Loan Amount:</label>
          <input type="number" name="baseLoanAmount" id="baseLoanAmount" class="form-control">

          <label for="fundingFee" class="form-label">Funding Fee</label>
          <input type="number" class="form-control" id="fundingFee">

          <label for="totalLoanAmount" class="form-label">Total Loan Amount</label>
          <input type="number" class="form-control" id="totalLoanAmount">

          <label for="interestRate" class="form-label">Interest Rate:</label>
          <input type="number" class="form-control" id="interestRate">

          <label for="amortizedMonths" class="form-label">Months</label>
          <input type="number" class="form-control" id="amortizedMonths">
        </div>



  <div>
    <label for="Principal" class="form-label">Principal</label>
    <input type="number" name="Principal" id="Principal" class="form-control">
    <label for="Intetest" class="form-label">Interest</label>
    <input type="number" name="Intetest" id="Intetest" class="form-control">

  </div>




    </div>
  </body>

  

  </html>
  <script src="workbook.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
















