

<%- include('../partials/_tabs.ejs') %>

<div class="row mb-3 text-left">

<div class="table-responsive ">
  <table class="table ">
    <!-- SAVINGS-->
  
    <div class='savings'>
      <h4>Savings </h4>
      <table id="savingsTable">
        <tr>
          <th>Mo Savings</th>
          <th>Year Savings</th>
          <th>Debt Paid:</th>
          <th>Pmt Reduction:</th>
          <th>Recoup:</th>
        </tr>
        <tr>
          <td><input type="number" name="monthlySavings" id="monthlySavings" readonly></td>
          <td><input type="number" name="annualSavings" id="annualSavings" readonly></td>
          <td><input type="number" name="debtPaid" id="debtPaid" readonly></td>
          <td><input type="number" name="paymentmReduction" id="paymentmReduction" readonly></td>
          <td><input type="number" name="recoup" id="recoup" readonly></td>
        </tr>
      </table>
  </div>
  
  
  
  <div class="loanInformation">
    <h4>Loan Information </h4>
    <table id="loanInformation">
      <tr>
        <th>Property</th>
        <th>Occupancy</th>
        <th>Loan</th>
        <th>Term (mo)</th>
        <th>Purpose</th>
        <th>Appraisal Waiver</th></tr>
      </tr>
      <tr>
        <td>
         <select name="PropertyType" id="PropertyType">
          <option value="sfr">SFR</option>
          <option value="manufactured">Manufactured</option>
          <option value="multiUnit">Multi Unit</option>
          <option value="condo">Condo</option>
          <option value="pud">PUD</option>


        </select>
      </td>


        <td>
          <select name="occupancy" id="occupancy">
          <option value="primary">Primary</option>
          <option value="secondary">Secondary</option>
          <option value="investment">Investment</option>
        </select> 
        
        </td>
        <td>
          <select name="loanType" id="loanType">
            <option value="cnv">CNV</option>
            <option value="fha">FHA</option>
            <option value="va">VA</option>
            <option value="nonQM">Non-QM</option>

          </select> 
        </td>
        <td><input type="number" name="newTerm" id="newTerm"></td>
            <td>
            <select name="loanPurpose" id="loanPurpose">
              <option value="purchase">Purchase</option>
              <option value="cashOut">Cash Out</option>
              <option value="refinance">Refinance</option>
              <option value="irrrl">IRRRL/Streamline</option>
  
            </select> 
          </td>
      <td><input type="checkbox" name="appraisalWaiver" id="appraisalWaiver"></td>
      </tr>
    <tr>   

    
    </table>
    </div>
       
  
  
  
  
    <!-- Payoffs and Payments section -->
  
  <div class="PayoffsandPayments">
      <h4> Mortgage Payoffs and Payments</h4>
      <table id="paymentTable">
        <tr>
          <th></th>
          <th>Loan Balance</th>
          <th>Payment</th>
          <th>Term</th>
          <th>Rate</th>
          <th>Sub</th>

        </tr>
        <tr>
          <td>1st</td>
          <td><input type="number" name="loanBalance1" id="loanBalance1"></td>
          <td><input type="number" name="payment1" id="payment1"></td>
          <td><input type="number" name="oldTerm1" id="oldTerm1"></td>
          <td><input type="number" name="oldRate1" id="oldRate1"></td>
          <td><input type="checkbox" name="sub1" id="sub1"></td>
 
        </tr>
        <tr>
          <td>2nd</td>
          <td><input type="number" name="loanBalance2" id="loanBalance2"></td>
          <td><input type="number" name="payment2" id="payment2"></td>
          <td><input type="number" name="oldTerm1" id="oldTerm2"></td>
          <td><input type="number" name="oldRate1" id="oldRate2"></td>
          <td><input type="checkbox" name="sub2" id="sub2"></td>
        </tr>
        <tr>
          <td>3rd</td>
          <td><input type="number" name="loanBalance3" id="loanBalance3"></td>
          <td><input type="number" name="payment3" id="payment3"></td>
          <td><input type="number" name="oldTerm1" id="oldTerm3"></td>
          <td><input type="number" name="oldRate1" id="oldRate3"></td>
          <td><input type="checkbox" name="sub3" id="sub3"></td>

        </tr>
      </table>

  
    </div>
    
  

    <!-- New Loan sections -->
      <div class='newLoan col-sm-5 pt-4'>
        <h4>New Loan</h4>

          <table>
            <tr>
              <td><label><b>Market Value:</b></label></td>
              <td><input type="number" name="marketValue" id="marketValue"></td>
            </tr>
            <tr>
              <td><label>Sales Price:</label></td>
              <td><input type="number" name="salesPrice" id="salesPrice"></td>
            </tr>
            <tr>
              <td><label>Down Payment:</label></td>
              <td><input type="number" name="downPayment" id="downPayment"></td>
            </tr>
  
      
  
            <tr>
              <td><label for="baseLoanAmount"><b>Base Loan Amount:</b></label></td>
              <td><input type="number" name="baseLoanAmount" id="baseLoanAmount"></td>
            </tr>
            <tr>
              <td><label for="subordinatedAmount">Subordinated:</label></td>
              <td><input type="number" name="subordinated" id="subordinatedAmount"></td>
            </tr>
            <tr>
              <td><label for="ffUmip">FF/UMIP:</label></td>
              <td><input type="number" name="ffUmip" id="ffUmip">%$</td>
            </tr>
            <tr>
              <td><label for="umipRefund">UMIP Refund:</label></td>
              <td><input type="number" name="umipRefund" id="umipRefund"></td>
            </tr>
            <tr>
              <td><label for="totalLoanAmount">Total Loan Amount:</label></td>
              <td><input type="text" name="totalLoanAmount" id="totalLoanAmount" readonly></td>
            </tr>
            <tr>
              <td><label>Note Rate:</label></td>
              <td><input type="number" name="noteRate" id="noteRate" readonly></td>
            </tr>
     
          </table>
      </div>
  <!-- PROPOSED Loan sections -->
  
  <div class="benetobwr col-sm-7 pt-4">
    <h4>Benefit to the Borrower</h4>
     <table>
      <th></th>
       <th>Existing Loan</th>
       <th>Proposed Loan</th>
       <tr>
         <td><label for="pi">PI:</label></td>
         <td><input type="text" id="existingPI" name="existingPI" value="From Cust tab" readonly></td>
         <td><input type="number" id="proposedPI" name="proposedPI"></td>
       </tr>
       <tr>
         <td><label for="taxes">Taxes:</label></td>
         <td><input type="number" id="existingTaxes" name="existingTaxes" readonly></td>
         <td><input type="number" id="proposedTaxes" name="proposedTaxes"></td>
         <td><input type="checkbox" id="escrowTaxes" name="escrowTaxes"></td>
       </tr>
       <tr>
         <td><label for="insurance">Insurance:</label></td>
         <td><input type="number" id="existingInsurance" name="existingInsurance" readonly></td>
         <td><input type="number" id="proposedInsurance" name="proposedInsurance"></td>
         <td><input type="checkbox" id="escrowInsurance" name="escrowInsurance"></td>
       </tr>
       <tr>
         <td><label for="insurance">Flood Insurance:</label></td>
         <td><input type="number" id="existingFloodInsurance" name="existingFloodInsurance" readonly></td>
         <td><input type="number" id="proposedFloodInsurance" name="proposedFloodInsurance"></td>
         <td><input type="checkbox" id="escrowFloodInsurance" name="escrowFloodInsurance"></td>
       </tr>
       <tr>
         <td><label for="pmi">PMI:</label></td>
         <td><input type="number" id="existingPMI" name="existingPMI" readonly></td>
         <td><input type="number" id="pmproposedPMIi" name="proposedPMI"></td>
         <td><input type="number" id="proposedPMIamount" name="proposedPMIamount"></td>
 
       </tr>
       <tr>
         <td><label for="hoa">HOA:</label></td>
         <td><input type="number" id="existingHOA" name="existingHOA" readonly></td>
         <td><input type="number" id="proposedHOA" name="proposedHOA"></td>
       </tr>
       <tr>
         <td><label for="mortgagePayment">Mortgage Payment:</label></td>
         <td><input type="number" id="existingmortgagePayment" name="existingmortgagePayment" readonly></td>
         <td><input type="number" id="proposedmortgagePayment" name="proposedmortgagePayment" value="123456"></td>  
       </tr>
       <tr>
         <td><label for="currentPayment">Overage/Shartage:</label></td>
         <td><input type="number" id="overageShartage" name="over"></td>
       </tr>
       <tr>
         <td><label for="currentPayment">Debt Paydown:</label></td>
         <td><input type="number" id="debtPaydown" name="debtPaydown"></td>
       </tr>
       <tr>
         <td><label for="proposedPayment">Total Obligations:</label></td>
         <td><input type="number" id="existingObligation" name="existingObligation"></td>
         <td><input type="number" id="proposedObligation" name="proposedObligation"></td>  
       </tr>
   </table>
   </div>




<div>
            <label for="LTV">LTV</label>
            <input type="number" value="0" id="LTVvalue" readonly inputmode="none">
            <label for="CLTV">CLTV</label>
            <input type="number" value="0" id="CLTVvalue" readonly inputmode="none">


    </div>
      
    
  
 
    
  
  
  
  
  
  
  
  
  
  <!-- OTHER FEES -->
  
  <div class='otherFees pt-4'>
      <h4>Other Fees</h4>
      <table>
        <tr>
          <td>3rd Party Fee:</td>
          <td><input type="number" name="thirdPartyFees" value="123456"></td>
          <td>Appraisal Fee:</td>
          <td><input type="number" name="appraisalFee"></td>
          <td>Investor Fee:</td>
          <td><input type="number" name="investorFee"></td>
        </tr>

        <tr>
          <td>Paded Taxes:</td>
          <td><input type="number" name="paymentPadTaxes"></td>
          <td>Paded Insurance:</td>
          <td><input type="number" name="paymentPadInsurace"></td>
          <td>Lender Credit:</td>
          <td><input type="number" name="lenderCredit"></td>
        </tr>
        <tr>
          <td>Admin:</td>
          <td><input type="number" id="adminFees" value="895"></td>
          <td>Tax Service:</td>
          <td><input type="number" id="taxService" value="88"></td>
          <td>Flood Cert:</td>
          <td><input type="number" id="floodCert" value="8"></td>
          </tr>

        <tr>
          <td>Total Closing Costs:</td>
          <td><input type="number" name="closingCosts"></td>
          <td>Cash Out(Bring to Close):</td>
          <td><input type="number" name="cashOutAmount"></td>
        </tr>
      </table>
    </div>
  

      <!-- Pricing -->
      <div class='pricingSection'>
        <h4>Pricing </h4>
        <table id="pricingTable">
          <tr>
            <th>Description</th>
            <th>Rate</th>
            <th>YSP %</th>
            <th>YSP $</th>
            <th>BD %</th>
            <th>BD  $</th>
            <th>Select</th>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="number" name="noteRate1" id="noteRate1"></td>
            <td><input type="number" name="ysp1" id="ysp1"></td>
            <td><input type="number" value="123456" name="yspDollar" id="yspDollar1"></td>
            <td><input type="number" name="bd1" id="bd1"></td>
            <td><input type="number" name="bdDollar" id="bdDollar1"></td>
            <td><input type="checkbox" name="selectRate1"></td>
          </tr>
          <td><input type="text"></td>
          <td><input type="number" name="noteRate1" id="noteRate2"></td>
          <td><input type="number" name="ysp1" id="ysp2"></td>
          <td><input type="number" value="123456" name="yspDollar" id="yspDollar2"></td>
          <td><input type="number" name="bd1" id="bd2"></td>
          <td><input type="number" name="bdDollar" id="bdDollar2"></td>
          <td><input type="checkbox" name="selectRate2"></td>
        </tr>
        <td><input type="text"></td>
        <td><input type="number" name="noteRate1" id="noteRate3"></td>
        <td><input type="number" name="ysp1" id="ysp3"></td>
        <td><input type="number" value="123456" name="yspDollar" id="yspDollar3"></td>
        <td><input type="number" name="bd1" id="bd3"></td>
        <td><input type="number" name="bdDollar" id="bdDollar3"></td>
        <td><input type="checkbox" name="selectRate3"></td>
      </tr>
      <td><input type="text"></td>
      <td><input type="number" name="noteRate1" id="noteRate3"></td>
      <td><input type="number" name="ysp1" id="ysp3"></td>
      <td><input type="number" value="123456" name="yspDollar" id="yspDollar3"></td>
      <td><input type="number" name="bd1" id="bd3"></td>
      <td><input type="number" name="bdDollar" id="bdDollar3"></td>
      <td><input type="checkbox" name="selectRate3"></td>
         </tr>
        </table>
    </div>
            <!-- End Pricing -->


  



  
    <!-- Consumer Debt -->
    <div class='ConsumerDebt1'>
      <h4>Consumer Debt</h4>
      <table id="consumerDebt">
        <tr>
          <th>Debtor</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Monthly</th>
          <th>Term</th>
          <th>Rate</th>
          <th class="smallSelect">Omit</th>
          <th class="smallSelect">Pay</th>
          <th>Action</th>

        </tr>
        <tr>
          <td><input type="text" name="debtorName"></td>
          <td>
            <select name="creditType">
              <option value=""></option>
              <option value="Installment">Installment</option>
              <option value="Mortgage">Mortgage</option>
              <option value="Revolving">Revolving</option>
              <option value="Lease">Lease</option>
            </select>
          </td>
          <td><input type="number" name="balanceTotal"></td>
          <td><input type="number" name="monthlyDebtPayment"></td>

          <td><input type="number" name="termDebt"></td>
          <td><input type="number" name="rateDebt"></td>
          <td><input  class="smallSelect"type="checkbox" name="omitDebt"></td>
          <td><input  class="smallSelect"type="checkbox" name="paydebt"></td>
          <td><button type="button" class="btn btn-danger btn-sm" name="delete">Delete </button></td>

        </tr>
      </table>
      <button type="button" class="btn btn-primary btn-sm" id="addRowButton">Add Row</button>
    </div>
        <!-- End Consumer Debt -->

  

  
  
  
  <!-- DEBT TO INCOME -->
    <div class="IncomeSection ">
      <div class="">
        <h4>Income</h4>
            <label for="borrowersIncome">Borrower's Monthly Income:</label>
            <input type="number" name="borrowersIncome" id="borrowersIncome">
          <label for="backRatio">Co-Borrower's Monthly Income:</label>
          <input type="number" name="coborrowersIncome" id="coborrowersIncome">
        </div>
      <div class="col-md-3">
        <h4>DTI</h4>
        <label for="frontRatio">Front End Ratio:</label>
        <input type="text" class="form-control" id="frontRatio" ng-model="frontRatio" disabled>
        <label for="backRatio">Back End Ratio:</label>
        <input type="text" class="form-control" id="backRatio" ng-model="backRatio" disabled>
        </div>
       
    </div>
  
    <!-- DEBT TO INCOME -->

  
      
  <div class="titleFees" id="titleFees">
  <h4>Title Fees</h4>
  </div>
  


  </table>
</div>



<style>


table{
margin: 10px;
}
tr td{
  padding: 2px;
}

.smallSelect{
  width: 50%;
}

#savingsTable{
  padding-left: 10px;

}

</style>




</style>

<script src="/public/Jquery/workbook.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    $('#addRowButton').on('click', function() {
      var newRow = '<tr>' +
        '<td><input type="text" name="debtorName' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><select name="creditType' + ($('#consumerDebt tr').length + 1) + '"> ' +
        '<option value=""></option>' +
        '<option value="Installment">Installment</option>' +
        '<option value="Mortgage">Mortgage</option>' +
        '<option value="Revolving">Revolving</option>' +
        '<option value="Lease">Lease</option>' +
        '</select></td>' +
        '<td><input type="number" name="balanceTotal' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><input type="number" name="monthlyDebtPayment' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><input type="number" name="termDebt' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><input type="number" name="rateDebt' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><input type="checkbox" name="omitDebt' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '<td><input type="checkbox" name="paydebt' + ($('#consumerDebt tr').length + 1) + '"></td>' +
        '</tr>';

      $('#consumerDebt').append(newRow);
    });



// Attach an event listener to the input fields
//^= in the attribute selector means "starts with".
$('input[name^="ysp"], input[name^="bd"]').on('input', function() {
      // Get the values from the input fields
      const rate = parseFloat($('#noteRate1').val()) || 0;
      const yspPercentage = parseFloat($('#ysp1').val()) || 0;
      const bdPercentage = parseFloat($('#bd1').val()) || 0;

      // Calculate dollar amounts
      const yspDollar = (yspPercentage / 100) * rate;
      const bdDollar = (bdPercentage / 100) * rate;

      // Update the readonly fields with the calculated values
      $('#yspDollar1').val(yspDollar.toFixed(2));
      $('#bdDollar1').val(bdDollar.toFixed(2));
    });




  });
</script>







